*{
    margin: 0;
    padding: 0;
}
ol,ul {
    list-style: none;
}
h1,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
    text-transform:uppercase;
}
a {
    text-decoration: none;
    color:inherit;
}
table {
    border-collapse: collapse;
}
i,em,address {
    font-style: inherit;
}
b,strong {
    font-weight: inherit;
}
div{
    box-sizing: border-box;
}